<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level4</title>
</head>
<body>
<div>
    Sandrita had a collection of favorite specially shaped stones that she used to pick in the orphanage playground.
    Her "buddies" used to steal some of her stones ! In one of her nights going thru JavaScript tutorials given by a
    random Indian guy on Youtube, Sandrita came across Arrays and she thought "Oh, what a beautiful way to keep track
    of my stones!"
    <br>
    Which of the following configurations will allow Sandrita to keep track of her collection?
</div>

<br>

<button><a href ="/wrong"> var stones = {"Circular Stone", "Heart Shaped Stone", "Square Stone", "Pointy Stone"};</a> </button>
<button><a href ="/functionadd"> var stones = ["Circular Stone", "Heart Shaped Stone", "Square Stone", "Pointy Stone" ]; </a> </button>
<button><a href ="/wrong"> var stones = "Circular Stone", "Heart Shaped Stone", "Square Stone", "Pointy Stone"; </a> </button>
<button><a href ="/wrong"> var stones = ("Circular Stone", "Heart Shaped Stone", "Square Stone", "Pointy Stone"); </a> </button>

</body>
</html>