<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level4</title>
</head>

<body>

<div>
   One day, Sandrita had a huge amount of sum to do for school! But, as lazy and smart as she was, she had an epiphany!
    What if there is a non repetitive way to get the job done?

    After a fruitful Google search, she found about JavaScript functions.

    <br>
    Which one resolves her problem?
</div>

<br>

<button><a href ="/" > function add(a, b){ return a + b}; </a> </button>
<button><a href ="/wrong"> function add(a, b){if(a > b) return a}; </a> </button>
<button><a href ="/wrong"> function add(a, b){ return a === b}; </a> </button>
<button><a href ="/wrong"> function add(a, b){ if (a == b){ return 50} else {return b}}; </a> </button>

</body>
</html>