<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level3</title>
</head>
<body>

<div>
    Sandrita fell in love instantly with this machine. From that day on, she sneaked away every night, while everyone
    was asleep. One of those nights, Sandrita found a very versatile programming language.
    <br>
    Which one is a programming language?
</div>

<br>

<button><a href ="/wrong"> Excel </a> </button>
<button><a href ="/array"> JavaScript </a> </button>
<button><a href ="/wrong"> Rubik Cube </a> </button>
<button><a href ="/wrong"> TomCat </a> </button>

</body>
</html>