<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level5</title>

</head>
<body>
<div>
    Sandrita loved the arrays so much that she decided to store every single possession (she didn't have much, let's be real).
    Since that was the way all her stuff was stored, her arrays got huuuuuuuge! Sandrita discovered a way to find what she wanted
    without having to go herself through every single value. The loops came to save Sandrita from her troubles!

    <br>
    Which of the following allows Sandrita to go over her stone collection && choose the Pointy Stone she wants?
    var stones = ["Circular Stone", "Heart Shaped Stone", "Square Stone", "Pointy Stone" ];
</div>

<br>

<button><a href ="/"> for(var i = stones.length; i < stones.length;i++){if(stones[i] === "Pointy Stone"){console.log(stones[i]);}};
</a> </button>
<button><a href ="/wrong"> for(var i = 0; i < stones.length;i++){
    console.log(stones[i]}; </a> </button>
<button><a href ="/wrong"> stones.console.log </a> </button>
<button><a href ="/wrong"> console.log(stones["Pointy Stone"]) </a> </button>

</body>
</html>