<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level2</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="level2.js"></script>
</head>
<body>
<div>
    Sandrita was a trouble maker and often got into fights in the orphanage playground.
    <br>
    Guess how many beatings did Sandrita give to her buddies?
</div>

<br>

<form method="get" action="http://localhost:8080/level3">
    <input type="number" min="0" id="beatings">
</form>

<br>

<div>

</div>


</body>
</html>